@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Mulish", sans-serif;
}

.wrapper {
  min-height: 100%;
  background: #EEF9FF;
  display: grid;
  grid-template: auto 1fr auto/minmax(50px, 1fr) minmax(auto, 315px) minmax(auto, 1035px) minmax(50px, 1fr);
}
@media (max-width: 1270px) {
  .wrapper {
    grid-template: auto 1fr auto/minmax(20px, 1fr) minmax(auto, 315px) minmax(auto, 1035px) minmax(20px, 1fr);
  }
}
@media (max-width: 767px) {
  .wrapper {
    grid-template: auto 1fr auto/minmax(15px, 1fr) minmax(auto, 315px) minmax(auto, 1035px) minmax(15px, 1fr);
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
}

.header {
  background: #2F89F8;
  height: 90px;
  display: grid;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/6;
  position: relative;
  z-index: 2;
}
.header__container {
  display: grid;
  grid-template: 1fr/auto auto 1fr auto auto auto auto;
  align-items: center;
}
@media (max-width: 1270px) {
  .header__container {
    padding: 0 20px;
  }
}
.header__burger {
  width: 35px;
  height: 23px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  transition-duration: 0.2s;
}
.header__burger span {
  width: 100%;
  height: 2px;
  background: #ABD1FF;
  display: block;
}
.header__burger span:last-child {
  width: 50%;
}
.header__burger.active {
  height: 1.5px;
}
.header__burger.active span:first-child {
  transform: rotate(45deg);
}
.header__burger.active span:nth-child(2) {
  transform: rotate(-45deg);
}
.header__burger.active span:last-child {
  display: none;
}
.header__logo {
  margin-right: 20px;
}
.header__city-list {
  position: absolute;
  display: none;
  top: 63px;
  left: 50%;
  transform: translateX(-52%);
  padding: 20px 50px;
  background: #fff;
}
.header__city-list li {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}
.header__city-list li h4 {
  font-size: 15px;
  line-height: 150%;
  color: #120D48;
}
.header__city-list li h6 {
  font-size: 12px;
  line-height: 150%;
  color: #656381;
}
.header__city-list li:last-child {
  margin: 0;
}
.header__city-list li h6::after {
  content: ")";
}
.header__city-list li h6::before {
  content: "(";
}
.header__city-list li:hover h4 {
  text-decoration: underline;
}
.header__city-list.active {
  display: block;
}
.header__btn-fast-order {
  margin-right: 36px;
}
.header__btn-fast-order_second {
  display: none;
}
.header__phone {
  margin-right: 65px;
  grid-column: 5/6;
}
.header__shop-cart {
  grid-column: 7/8;
  background: #E5F7EB;
  position: relative;
  transition-duration: 0.2s;
}
.header__shop-cart:hover {
  background: rgba(229, 247, 235, 0.8);
}
.header__language {
  width: 100% !important;
}
.header__shop-cart-number {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background: #04BA42;
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .header__phone {
    display: none !important;
  }
}
@media (max-width: 1270px) {
  .header__burger {
    display: flex;
  }
}
@media (max-width: 767px) {
  .header {
    height: 50px;
  }
  .header__container {
    padding: 0 15px;
  }
  .header__language {
    display: none !important;
  }
  .header__city {
    display: none !important;
  }
  .header__logo img {
    width: 90px;
  }
  .header__btn-fast-order_first {
    display: none;
  }
  .header__btn-fast-order_second {
    display: block;
    height: 32px;
  }
  .header__burger {
    width: 20px;
    height: 12px;
  }
}
@media (max-width: 410px) {
  .header__btn-fast-order {
    display: none;
  }
}

.phone {
  display: grid;
  grid-template: repeat(2, auto)/repeat(2, auto);
  transition-duration: 0.2s;
}
.phone__logo {
  margin-right: 13px;
  background: #D5E7FE;
  grid-row: 1/3;
}
.phone__num {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  white-space: pre;
}
.phone__bottom {
  font-weight: 700;
  white-space: pre;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}

.city {
  grid-column: 4/5;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, auto);
  margin-right: 85px;
  transition-duration: 0.2s;
}
.city__icon-location {
  cursor: pointer;
  margin-right: 13px;
  background: #D5E7FE;
  grid-row: 1/3;
}
.city__city-top {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.city__city-top span {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}
.city__city-top:hover span {
  text-decoration: underline;
}
.city__city-bottom {
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #ABD1FF;
  text-transform: capitalize;
}
.city__city-bottom::before {
  content: "(";
}
.city__city-bottom::after {
  content: ")";
}
.city__city-list {
  position: absolute;
  display: none;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 50px;
  background: #fff;
}
.city__city-list.active {
  display: block;
}
.city__city-list h4 {
  font-size: 15px;
  line-height: 150%;
  color: #120D48;
}
.city__city-list h6 {
  font-size: 12px;
  line-height: 150%;
  color: #656381;
}
.city__city-list h6::before {
  content: "(";
}
.city__city-list h6::after {
  content: ")";
}
.city__city-list li {
  margin-bottom: 15px;
}
.city__city-list li:last-child {
  margin: 0;
}

.language {
  position: relative;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
}
.language__text {
  margin: 0 7px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
}
.language__text:hover {
  text-decoration: underline;
}
.language__list {
  position: absolute;
  display: none;
  top: 57px;
  left: -20px;
  padding: 15px;
  background: #fff;
}
.language__list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.language__list li img {
  margin-right: 5px;
}
.language__list li span {
  color: #120D48;
}
.language__list.active {
  display: block;
}

.btn-fast-order {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  grid-column: 6/7;
  padding: 12px 25px;
  background: #04BA42;
  border-radius: 30px;
  transition-duration: 0.2s;
}
.btn-fast-order:hover {
  background: rgba(4, 186, 66, 0.8);
}

.square {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.sidebar {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 20px 0;
  transition-duration: 0.2s;
}
.sidebar__block {
  padding: 30px 0;
  box-shadow: 0px 4px 12px 6px rgba(47, 137, 248, 0.06);
  border-radius: 12px;
  background: #fff;
}
.sidebar__pages {
  position: relative;
}
.sidebar__pages::after {
  content: "";
  background: #A0BCF8;
  height: 1px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar__list-pages {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.sidebar__link {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  transition-duration: 0.3s;
}
.sidebar__link h3 {
  font-size: 15px;
  line-height: 150%;
  text-transform: uppercase;
  color: #656381;
}
.sidebar__link:hover {
  background: #EDF8FF;
}
.sidebar__link_active::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #2F89F8;
  border-radius: 4px;
}
.sidebar__link-icon {
  margin: 0 7% 0 16.8%;
}
.sidebar__info-pages {
  position: relative;
}
.sidebar__info-pages::after {
  content: "";
  background: #A0BCF8;
  height: 1px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar__phone {
  margin-left: 19%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 25px;
  display: none;
}
.sidebar__phone h3 {
  color: #3371F2;
}
.sidebar__phone h5 {
  color: #120D48;
}
.sidebar__language {
  display: none;
  margin-top: 30px;
}
.sidebar__language span {
  color: #000;
}
.sidebar__city {
  display: none;
  margin-left: 19%;
  margin-top: 22px;
}
.sidebar__city span {
  color: #120D48;
}
.sidebar__city .city__city-bottom {
  color: #656381;
}
.sidebar__city .city__city-list {
  z-index: 2;
  border: 1px #28ABE1 solid;
}
.sidebar__socials {
  margin-top: 41px;
  width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.sidebar__socials .socials__link-big {
  height: 45px;
}
@media (max-width: 1410px) {
  .sidebar__socials {
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .sidebar__link-icon {
    margin: 0 7%;
  }
}
@media (max-width: 1270px) {
  .sidebar {
    position: absolute;
    top: 90px;
    left: -100%;
    margin: 0;
    padding: 20px 0 50px;
  }
  .sidebar__link-icon {
    margin: 0 7% 0 20%;
  }
  .sidebar__socials {
    width: 75%;
  }
  .sidebar__block {
    box-shadow: none;
  }
  .sidebar__phone {
    display: grid;
  }
}
@media (max-width: 767px) {
  .sidebar__city {
    display: grid;
  }
  .sidebar__language {
    display: flex;
  }
  .sidebar__socials {
    margin-top: 0;
  }
}
.sidebar.active {
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 2;
  width: 347px;
  background: #fff;
  box-shadow: 0px 4px 12px 6px rgba(47, 137, 248, 0.06);
}
@media (max-width: 767px) {
  .sidebar.active {
    width: 100%;
    top: 50px;
  }
}

.block-hide-burger {
  display: none;
}
.block-hide-burger.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.btn-min-plus {
  background: #EEF9FF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-number-of-bottles {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-city {
  position: relative;
}

.label-city {
  font-size: 15px;
  line-height: 150%;
  color: #656381;
}

.city-input {
  position: relative;
  height: 25px;
}
.city-input::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #A0BCF8;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-search {
  background: #EEF9FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.input-name {
  height: 50px;
  padding: 15px 20px 15px 40px;
  background: #EEF9FF;
  border: 1px solid #A0BCF8;
  border-radius: 40px;
}

.label-phone {
  color: #120D48;
  margin-bottom: 9px;
}

.input-phone {
  height: 50px;
  padding: 15px 20px 15px 40px;
  background: #EEF9FF;
  border: 1px solid #A0BCF8;
  border-radius: 40px;
}

.btn-order {
  background: #04BA42;
  border-radius: 40px;
  height: 50px;
  color: #fff;
  font-weight: 500;
}

.city-input-block {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.city-input-block__decor-underline {
  width: 100%;
  height: 1px;
  background: #A0BCF8;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.socials__link-big {
  background: rgba(38, 173, 227, 0.2);
  border: 1px solid #28ABE1;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  margin-bottom: 12px;
  transition-duration: 0.2s;
}
.socials__link-big h3 {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #18A1D9;
  font-family: "Roboto", sans-serif;
}
.socials__link-big:last-child {
  background: rgba(111, 63, 170, 0.2);
  border: 1px solid #6F3FAA;
}
.socials__link-big:last-child h3 {
  color: #6F3FAA;
}
.socials__link-big:last-child:hover {
  background: #6F3FAA;
}
.socials__link-big:hover {
  background: #18A1D9;
}
.socials__link-big:hover h3 {
  color: rgba(255, 255, 255, 0.9);
}
.socials__mini-links {
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
}

.main {
  grid-row: 2/3;
  grid-column: 3/4;
  margin-left: 30px;
}
.main > * {
  max-width: 100%;
}
@media (max-width: 1270px) {
  .main {
    grid-column: 2/4;
    margin-left: 0;
  }
}

.footer {
  grid-row: 3/4;
  grid-column: 3/4;
  height: 370px;
  background: #BED2DF;
  border-radius: 12px;
  margin-bottom: 70px;
  margin-left: 30px;
  position: relative;
}
.footer__container {
  display: grid;
  grid-template: auto auto/repeat(3, auto);
  width: 90%;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}
.footer__links {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__block-image {
  grid-row: 1/2;
  grid-column: 1/2;
}
.footer__block-image img {
  width: 160px;
  max-width: 100%;
}
.footer__logo {
  margin-bottom: 17px;
}
.footer__link-privacy {
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 90px;
  color: #615BA7;
}
.footer__form-inputs {
  display: flex;
}
.footer__tov-nero {
  font-size: 12px;
  line-height: 150%;
  color: #615BA7;
}
.footer__block-lists {
  display: flex;
  grid-row: 1/3;
  grid-column: 2/3;
}
.footer__first-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 25px 0 40px;
}
.footer__first-list a {
  font-size: 15px;
  line-height: 150%;
  color: #120D48;
}
.footer__second-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 1/3;
  grid-column: 3/4;
}
.footer__second-list a {
  font-size: 15px;
  line-height: 150%;
  color: #120D48;
}
.footer__second-list a:last-child {
  visibility: hidden;
}
.footer__socials {
  grid-row: 1/3;
  grid-column: 3/4;
  margin-left: 15px;
}
.footer__socials .socials__link-big {
  margin-bottom: 15px;
}
.footer__socials .socials__mini-links {
  margin-top: 50px;
}
@media (max-width: 1270px) {
  .footer {
    grid-column: 2/4;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .footer {
    margin-bottom: 45px;
  }
  .footer__container {
    grid-template: auto auto auto/auto auto;
  }
  .footer__block-lists {
    display: block;
    margin-left: 35px;
  }
  .footer__block-lists a {
    margin: 0 0 5px 0;
  }
  .footer__block-lists ul {
    margin: 0;
  }
  .footer__socials {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .footer__links {
    grid-row: 3/4;
    grid-column: 1/3;
    align-items: center;
  }
  .footer__links a {
    margin-bottom: 8px;
  }
  .footer .socials__mini-links {
    margin-top: 20px;
  }
  .footer__block-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 460px) {
  .footer__container {
    grid-template: repeat(3, auto)/1fr;
  }
  .footer__block-lists {
    display: none;
  }
  .footer__links {
    margin-top: 30px;
  }
}

.card {
  background: #FEFEFE;
  box-shadow: 0px 4px 12px 6px rgba(47, 137, 248, 0.06);
  border-radius: 10px;
}

.block-fast-order {
  position: fixed;
  top: -100%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 480px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.2s;
}
.block-fast-order.active {
  top: 50%;
  left: 50%;
}
.block-fast-order.ordered {
  left: 200%;
}
.block-fast-order__cancel-btn {
  position: absolute;
  top: 9px;
  right: 9px;
  background: none;
  transition-duration: 0.5s;
  transform-origin: 12.5px 12.5px;
}
.block-fast-order__cancel-btn:hover {
  transform: rotate(-360deg);
}
.block-fast-order__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #2F89F8;
  margin-top: 50px;
}
.block-fast-order__paragraf {
  font-size: 15px;
  line-height: 150%;
  width: 90%;
  text-align: center;
  color: #656381;
  margin-bottom: 35px;
}
.block-fast-order__content {
  display: flex;
  flex-direction: column;
  width: 63%;
}
.block-fast-order__content > * {
  width: 100%;
}
.block-fast-order__number-of-bottles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.block-fast-order__block-input-number-of-bottles {
  display: flex;
  justify-content: space-between;
}
.block-fast-order__btn-min-plus {
  width: 40px;
  height: 40px;
  position: relative;
}
.block-fast-order__btn-min-plus span {
  width: 16px;
  height: 1.5px;
  background: #2F89F8;
  border-radius: 1px;
}
.block-fast-order__btn-min-plus_plus span:last-child {
  position: absolute;
  transform: rotate(-90deg);
}
.block-fast-order__label-name {
  margin-bottom: 9px;
}
.block-fast-order__input-name {
  margin-bottom: 25px;
}
.block-fast-order__label-phone {
  margin-bottom: 9px;
}
.block-fast-order__input-phone {
  margin-bottom: 25px;
}
.block-fast-order__block-city {
  margin-bottom: 30px;
}
.block-fast-order__label-city {
  display: block;
  margin-bottom: 11px;
}
.block-fast-order__btn-search {
  top: 23px;
}
.block-fast-order__btn-order {
  margin-bottom: 27px;
}
.block-fast-order__container-checkbox {
  margin-bottom: 50px;
}
.block-fast-order__container-checkbox label {
  color: #656381;
}
.block-fast-order__checkbox {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .block-fast-order {
    max-width: 90%;
    max-height: 90%;
  }
  .block-fast-order__header {
    width: 90%;
  }
  .block-fast-order__paragraf {
    width: 90%;
  }
  .block-fast-order__content {
    width: 90%;
  }
}

.block-order-confirm {
  display: flex;
  padding: 73px 55px 47px;
  position: fixed;
  top: 50%;
  left: -100%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 480px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 12px;
}
.block-order-confirm.active.ordered {
  left: 50%;
  transition-duration: 0.2s;
}
.block-order-confirm__title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: #2F89F8;
}
.block-order-confirm__paragraf {
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #656381;
}

.cancel-btn {
  position: absolute;
  top: 9px;
  right: 9px;
  background: none;
  transition-duration: 0.5s;
  transform-origin: 12.5px 12.5px;
}
.cancel-btn:hover {
  transform: rotate(-360deg);
}

.block-bg-blur {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition-duration: 0.2s;
}
.block-bg-blur.active {
  top: 0;
}