.cards {
	margin: 20px 0 60px 0;
	position: relative;

	&__mini-elipses {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.first-card {
	background: url('../img/water.png') 100% 100% no-repeat, url('../img/image\ 12.png') center / cover no-repeat, rgb(100, 100, 100);
	position: relative;
	height: 530px;
	width: 100%;
	border-radius: 12px;
	overflow: hidden;

	&__info {
		position: absolute;
		top: 130px;
		left: 50px;
		max-width: 40%;
		z-index: 1;
	}

	&__title {
		margin-bottom: 11px;
		font-weight: 700;
		font-size: 50px;
		line-height: 150%;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #fff;
		font-family: 'Nunito', sans-serif;
	}

	&__paragraf {
		font-size: 15px;
		line-height: 150%;
		color: #fff;
	}

	&__bottles-img {
		position: absolute;
		right: 0;
		top: 70px;
	}

	&__square {
		width: 420px;
		height: 420px;
		border-radius: 50%;
		background: #3094F9;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -160px;
	}
	@media (max-width:767px) {
		height: 200px;
	}
}
.mini-elipses {
	display: flex;
	justify-content: space-between;
	width: 36px;
	z-index: 2;
	&__elipse {
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.2);
		&_active {
			background: #fff;
		}
	}
}
.book-form {
	height: 300px;
	background: #fff;
	border-radius: 12px;
	position: relative;

	&__container {
		padding: 14px 0 32px;
		width: 88%;
		position: absolute;
		top: 0;
		left: 5%;
		display: grid;
		grid-template: repeat(2, auto) / repeat(2, auto);
	}

	&__block-title {
		grid-row: 1/2;
		grid-column: 1/2;
		width: fit-content;
		display: grid;
		grid-template: auto auto / auto auto;
	}

	&__title {
		grid-row: 1/2;
		grid-column: 1/2;
		font-weight: 700;
		font-size: 30px;
		line-height: 150%;
		letter-spacing: 0.02em;
		color: #2F89F8;
		align-self: center;
		font-family: 'Nunito', sans-serif;
	}

	&__logo-email {
		grid-row: 1/2;
		grid-column: 2/3;
		justify-self: end;
	}

	&__title-bottom {
		grid-row: 2/3;
		grid-column: 1/3;
		font-size: 15px;
		line-height: 150%;
		color: #656381;
	}

	&__block-city {
		margin-top: 25px;
		grid-row: 1/2;
		grid-column: 2/3;
	}

	&__label-city {
		margin-right: 27px;
	}

	&__city-input {
		width: 55%;
	}

	&__block-form {
		margin-top: 35px;
		grid-column: 1/3;
		grid-row: 2/3;
		display: grid;
		grid-template: repeat(3, auto) / repeat(3, 1fr);
	}

	&__label-name {
		grid-row: 1/2;
		grid-column: 1/2;
	}

	&__input-name {
		grid-row: 2/3;
		grid-column: 1/2;
		width: 90%;
	}

	&__label-phone {
		grid-row: 1/2;
		grid-column: 2/3;
	}

	&__input-phone {
		grid-row: 2/3;
		grid-column: 2/3;
		width: 90%;
	}

	&__btn-order {
		width: 90%;
		grid-row: 2/3;
		grid-column: 3/4;
	}

	&__container-checkbox {
		grid-row: 3/4;
		grid-column: 1/4;
		margin-top: 30px;
	}

	&__checkbox {
		background: #EEF9FF;
		width: 14px;
		height: 14px;
		border: none;
		border-radius: 0;
		margin-right: 10px;
	}
	@media (max-width:767px) {
		height: 600px;
		&__container {
			display: flex;
			flex-direction: column;
			width: 100%;
			position: relative;
			top: 0;
			left: 0;
			padding: 0 17px;
		}
		&__title {
			margin-bottom: 2px;
		}
		&__block-city {
			display: grid;
			grid-template: auto auto / auto;
		}
		&__label-name {
			margin-bottom: 9px;
		}
		&__input-name {
			margin-bottom: 30px;
			width: 100%;
		}
		&__label-phone {
			margin-bottom: 9px;
		}
		&__input-phone {
			margin-bottom: 30px;
			width: 100%;
		}
		&__btn-order {
			width: 100%;
		}
		&__container-checkbox {
			margin-top: 25px;
		}
		&__block-form {
			display: flex;
			flex-direction: column;
		}
	}
}

.top-sales {
	margin: 60px 0 60px 0;
	&__header {
		font-weight: 700;
		font-size: 30px;
		line-height: 150%;
		font-family: 'Nunito', sans-serif;
		color: #120D48;
		margin-bottom: 25px;
	}

	&__cards {
		margin: 0 -16px;
		display: flex;
		justify-content: space-between;
	}

	&__card {
		position: relative;
		flex: 0 1 33.333%;
		margin: 0 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 17px 20px 30px;
		overflow: hidden;
		&:hover .top-sales__block-hover{
			display: flex;
		}
	}

	&__img-bottle {
		margin-bottom: 15px;
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		color: #120D48;
		margin-bottom: 6px;
		font-family: 'Nunito', sans-serif;
	}

	&__info {
		font-size: 15px;
		line-height: 19px;
		color: #656381;
		margin-bottom: 12px;
	}

	&__price {
		position: relative;
		z-index: 5;
		font-weight: 700;
		font-size: 15px;
		line-height: 19px;
		color: #2F89F8;
		&::after {content: ' грн.';}
		margin-bottom: 14px;
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 87%;
		position: relative;
		z-index: 5;
	}

	&__cart {
		width: 60%;
		background: rgba(4, 186, 66, 0.1);
		border: 1px solid #04BA42;
		border-radius: 20px;
		margin-left: 15px;
		height: 40px;
		& span {margin-left: 12px;}
	}
	
	&__block-hover {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		height: 100%;
		display: none;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(5px);
	}

	&__title-bg {
		font-weight: 700;
		font-size: 18px;
		line-height: 23px;
		color: #120D48;
		margin: 44px 0 20px;

	}

	&__paragraf-bg {
		font-size: 15px;
		line-height: 19px;
		color: #120D48;
	}
	&__form-inputs {display: flex;}

	&__circle {
		width: 161px;
		height: 161px;
		border-radius: 50%;
		background: #2F89F8;
		position: absolute;
		top: -80px;
		right: -80px;

		& h3 {
			position: absolute;
			z-index: 1;
			bottom: 19.5%;
			left: 16%;	
			text-transform: uppercase;
			font-weight: 700;
			font-size: 18px;
			line-height: 25px;
			color: #fff;
			transform: rotate(45deg);
		}
	}
	@media (max-width:767px) {
		&__card {
			&:last-child {display: none;}
			flex: 0 1 50%;
			padding: 20px 12px;
			margin: 0 5px;
		}
		&__cart {
			width: 100%;
			margin: 20px 0 0 0;
		}
		&__form {
			flex-direction: column;
			width: 100%;
		}
		&__cards {margin: 0 -5px;}
	}
}
.tm-nero {
	margin-bottom: 60px;

	&__header {
		font-weight: 700;
		font-size: 30px;
		line-height: 150%;
		color: #120D48;
		font-family: 'Nunito', sans-serif;
		margin-bottom: 25px;
	}

	&__cards {
		margin: 0 -16px;
		display: flex;
		justify-content: space-between;
	}

	&__card {
		flex: 0 1 33.333%;
		margin: 0 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 42px 20px;
	}

	&__square {
		width: 70px;
		height: 70px;
		background: #EEF9FF;
		border-radius: 50%;
		position: relative;
	}

	&__img {
		margin-bottom: 25px;
		position: absolute;
		top: 50%;
		left: -10px;
		z-index: 1;
		transform: translateY(-50%);
	}

	&__title-card {
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		font-family: 'Nunito', sans-serif;
		text-align: center;
		color: #120D48;
		margin-bottom: 10px;
	}

	&__card-paragraf {
		font-size: 15px;
		line-height: 150%;
		text-align: center;
		color: #656381;
	}

	@media (max-width:767px) {
		&__cards {flex-direction: column;}
		&__card {
			margin-bottom: 15px;
			padding: 20px;
			display: grid;
			grid-template: auto auto / 90px 1fr;
		}
		&__card-paragraf {
			grid-column:  1/3;
			grid-row: 2/3;
			text-align: left;
			margin-top: 10px;
		}
		&__title-card {
			text-align: left;
			margin: 0;
		}
		&__square {margin-left: 10px;}
	}
}

.customers {
	margin-bottom: 70px;

	&__title {
		font-family: 'Nunito', sans-serif;
		font-weight: 700;
		font-size: 30px;
		line-height: 150%;
		color: #120D48;
		margin-bottom: 25px;
	}

	&__cards {
		display: grid;
		grid-template: repeat(2, minmax(75px, auto)) / repeat(4, 1fr);
		grid-row-gap: 25px;
		grid-column-gap: 30px;
	}

	&__card {
		width: 100%;
		height: 75px;
		background: #fff;
		position: relative;
		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	@media (max-width:767px) {
		&__cards {
			grid-template: repeat(4, auto) / 1fr 1fr;
			grid-gap: 20px;
		}
	}
}

.delivery {
	display: flex;
	justify-content: space-between;
	margin-bottom: 65px;
	height: 515px;
	background: #fff;
	border-radius: 12px;
	overflow: hidden;

	&__content {
		padding: 35px 0 0;
		margin-left: 45px;
		max-width: 400px;
	}

	&__title {
		font-weight: 700;
		font-size: 35px;
		line-height: 150%;
		color: #2F89F8;
		margin-bottom: 5px;
		font-family: 'Nunito', sans-serif;
	}

	&__paragraf {
		font-size: 15px;
		line-height: 150%;
		color: #656381;
	}

	&__list {
		margin: 25px 0;
		& li {
			font-weight: 700;
			font-size: 18px;
			line-height: 150%;
			color: #120D48;
			margin: 20px 0;
			display: flex;
			& span {
				margin-left: 20px;
				white-space: pre;
			}
		}
	}

	&__btn-fast-order {
		height: 50px;
		display: inline-flex;
		align-items: center;
	}

	&__block-img {
		width: 55%;
		height: 100%;
		position: relative;
	}
	&__square{
    width: 770px;
    height: 770px;
    border-radius: 50%;
    overflow: hidden;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		& img {
			position: absolute;
			top: 128px;
		}
	}
	@media (max-width:767px) {
		flex-direction: column;
		height: 710px;
		&__content {
			min-width: 100%;
			height: auto;
			margin: 0px;
			padding: 20px;
		}
		&__delivery-block-img {width: 100%;}
		&__block-img {
			width: 100%;
			height: 33.333%;
		}
		&__square {
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			& img {
				height: auto;
				object-fit: cover;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
		}
	}
}

.blog {
	margin-bottom: 60px;

	&__block-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}

	&__header {
		font-family: 'Nunito', sans-serif;
		font-weight: 700;
		font-size: 30px;
		line-height: 150%;
		color: #120D48;
	}

	&__link-all {
		font-size: 15px;
		line-height: 19px;
		color: #04BA42;
		display: flex;
		align-items: center;
		& img {margin-left: 5px;}
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
	}

	&__card {
		flex: 0 1 33.333%;
		overflow: hidden;
		margin: 0 15px;
		min-height: 450px;
	}

	&__image {
		width: 100%;
		& img {
			width: 100%;
			height: 100%;
		}
	}

	&__card-content {
		padding: 30px;
		position: relative;
		width: 100%;
	}

	&__title {
		font-family: 'Nunito', sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 150%;
		color: #424242;
	}

	&__date {
		font-size: 15px;
		line-height: 22px;
		color: #2F89F8;
		margin-bottom: 7px;
	}

	&__link-read-more {
		display: flex;
		align-items: center;
		& span {
			font-size: 15px;
			line-height: 19px;
			color: #04BA42;
		}
		& img {margin-left: 5px;}
	}
	@media (max-width:767px) {
		&__cards {
			flex-direction: column;
		}
		&__image {
			height: 250px;
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__card {
			margin-bottom: 15px;
		}
	}
}
.advice {

	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 150%;
		color: #120D48;
		margin-bottom: 25px;
		font-family: 'Nunito', sans-serif;
	}

	&__card {
		margin-bottom: 15px;
		padding: 12px 20px;
		overflow: hidden;
		height: 50px;
		transition-duration: 0.2s;
		&_1.active, &_2.active, &_3.active, &_4.active {height: auto;}
		&:hover {
			box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.2);
		}
	}

	&__block-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__header {
		font-family: 'Nunito', sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		color: #120D48;
	}

	&__block-plus-minus {
		position: relative;
		width: 15px;
		height: 15px;
		transform-origin: center;
		& span {
			width: 100%;
			height: 1.5px;
			border-radius: 1px;
			background: #04BA42;
			display: inline-block;
			transform-origin: 0px 0px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		& span:last-child {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: rotate(0) translate(-50%, -50%);
			transition-duration: 0.5s;
		}
		&_1.active, &_2.active, &_3.active, &_4.active {
			& span:last-child {transform: rotate(-90deg) translate(-50%, -50%);}
		}
	}

	&__block-content {
		margin-top: 15px;
	}

	&__paragraf {
		margin: 20px 0;
	}
}
.text {
	margin: 60px 0 70px 0;

	&__header {
		font-family: 'Nunito', sans-serif;
		font-weight: 700;
		font-size: 30px;
		line-height: 150%;
		color: #120D48;
		margin-bottom: 18px;
	}

	&__block-paragraf {
		position: relative;
	}

	&__block-gradient {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		height: 85px;
		width: 100%;
		background: linear-gradient(180deg, rgba(238, 249, 255, 0) 0%, rgba(238, 249, 255, 0.8) 66.67%, #EEF9FF 100%);
	}

	&__paragraf {
		margin-bottom: 20px;
		font-size: 15px;
		line-height: 23px;
		color: #656381;
		&:last-child {margin: 0;}
		margin-bottom: 20px;
	}

	&__link {
		display: flex;
		align-items: center;
		& span {
			line-height: 19px;
			color: #04BA42;
		}
		& img {
			margin-left: 10px;
		}
	}
}